<div class="container mx-auto px-4 py-8">
        <div class="overflow-x-auto bg-white rounded-lg shadow overflow-y-auto relative" style="max-height: 405px;">
            <table class="border-collapse table-auto w-full whitespace-no-wrap bg-white table-striped relative">
                <thead>
                    <tr class="text-left">
                        <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100">
                            LogTime
                        </th>
                        <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100">
                            TaskUrl
                        </th>
                        <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100">
                            AnalysisTemplate
                        </th>
                        <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100">
                            DataSource
                        </th>
                        <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100">
                            Name
                        </th>
                        <th class="py-2 px-3 sticky top-0 border-b border-gray-200 bg-gray-100">
                            StatusDescription
                        </th>

                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                    <tr>
                        <td class="py-2 px-3 border-b border-gray-200">{{ job.Logtime }}</td>
                        <td class="py-2 px-3 border-b border-gray-200">
                            <a href="{{ job.TaskUrl }}" class="text-blue-500 hover:text-blue-600">{{ job.TaskUrl }}</a>
                        </td>
                        <td class="py-2 px-3 border-b border-gray-200">{{ job.AnalysisTemplate }}</td>
                        <td class="py-2 px-3 border-b border-gray-200">{{ job.DataSource }}</td>
                        <td class="py-2 px-3 border-b border-gray-200">{{ job.Name }}</td>
                        <td class="py-2 px-3 border-b border-gray-200">{{ job.StatusDescription }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>